@use "variables" as v;
@use "reset";
@use "header";
@use "main";
@use "footer";

body {
  font: {
    family: v.$fontFamily;
    size: v.$fontSize;
  }
  min-width: 320px;
  color: v.$primaryColor;
  height: 100vh;
}

.social--container {
  display: flex;
  font-size: 1.5rem;
  gap: 0.5em;

  a {
    color: v.$secondaryColor;
  }
}
