@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  min-width: 320px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.animate--fade {
  transition: all 0.5s;
}

/* Header section */

.header--container {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header--nav {
  padding: 1em;
  display: flex;
  align-items: center;
}

.header--logo--name {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 1em;
}

.header--logo {
  width: 4rem;
}

.header--name {
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  font-size: 1.25em;
}

.header--nav--list,
.header--nav--mobile {
  margin-left: auto;
}

.header--nav--mobile {
  font-size: 2.5rem;
  cursor: pointer;
}

.header--nav--list {
  display: none;
  gap: 1.25em;
  font-size: 1.25rem;
}

.header--nav--link {
  position: relative;
}

.header--nav--link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  bottom: -5px;
  transition: all 0.3s ease;
}

.header--nav--link:hover::after {
  background-color: #06191d;
  width: 100%;
}

.header--mobile--dropdown {
  position: relative;
}

.header--mobile--dropdown--list {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  background-color: white;
}

.header--mobile--dropdown--link {
  display: block;
  border-top: solid 1px #06191d;
  padding: 1em;
}

.header--mobile--dropdown--link:hover {
  background-color: black;
  color: whitesmoke;
}

/* Main sections */

.section--container {
  padding: 10em 1em;
  gap: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero--container,
.projects--container {
  color: whitesmoke;
  background-color: #06191d;
}

.about--container,
.contact--container {
  background-color: antiquewhite;
  color: #06191d;
}

.section--title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5em;
  position: relative;
  padding-bottom: 1.5em;
}

.section--title::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 2rem;
  background-color: #06191d;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.section--title,
.hero--title,
.summary {
  text-align: center;
}

.summary {
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: "Source Code Pro", monospace;
  max-width: 600px;
}

/* Hero section */

.hero--projects--link {
  display: block;
  color: whitesmoke;
  border: solid 1px;
  padding: 1em 2em;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.hero--title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2em;
}

.hero--projects--link:hover {
  color: #06191d;
  background-color: whitesmoke;
}

/* About section */

.about--details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.about--skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.about--skills--list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.about--skills--list > li {
  padding: 1em 2em;
  background-color: rgba(153, 153, 153, 0.4);
  color: #06191d;
  border-radius: 5px;
  font-weight: 600;
}

.about--contact--link {
  display: block;
  color: #06191d;
  border: solid 1px;
  padding: 1em 2em;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.about--contact--link:hover {
  color: whitesmoke;
  background-color: #06191d;
}

/* Projects section */

.projects--container > .section--title::after {
  background-color: whitesmoke;
}

/* Project */

.project--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
}

.project--container:not(:last-child)::after {
  content: "";
  width: 6em;
  height: 3px;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 5px;
  bottom: 0;
}

.project--thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

.project--description {
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

.project--skills--list {
  display: flex;
  gap: 1em;
  font-size: 1.25rem;
  width: fit-content;
  margin: 0;
}

.project--links {
  display: flex;
  gap: 2em;
}

.project--links > a {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: whitesmoke;
  border: solid 1px;
  padding: 0.5em 1em;
  border-radius: 2px;
  font-weight: 600;
}

.project--links > a:hover {
  background-color: white;
  color: #06191d;
}

/* Contact */

.contact--form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
}

.contact--form > label {
  font-weight: 500;
}

.contact--form > textarea {
  resize: none;
  height: 200px;
}

.contact--form--btn,
.contact--form > input,
.contact--form > textarea {
  border-style: none;
  border-radius: 5px;
  margin: 0.25em 0 1em;
  padding: 1em;
  font-family: "Inter", sans-serif;
  color: #06191d;
}

.contact--form > input,
.contact--form > textarea,
.contact--form > textarea::placeholder,
.contact--form > input::placeholder {
  font-family: "Source Code Pro", monospace;
}

.contact--form--btn {
  border: solid 1px #06191d;
  background-color: transparent;
  color: #06191d;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.contact--form--btn:hover {
  background-color: #06191d;
  color: whitesmoke;
}

.contact--form--btn:disabled {
  pointer-events: none;
  opacity: 0.7;
}

/* Footer */

footer {
  background-color: #06191d;
  color: whitesmoke;
  padding: 2em 1em;
  font-size: 0.8rem;
}

.footer--container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.social--container {
  display: flex;
  font-size: 1.5rem;
  gap: 0.5em;
}

.social--container,
.footer--summary,
.footer--credits {
  margin: 0;
}

.social--container > li > a {
  color: whitesmoke;
}

.footer--summary {
  font-family: "Source Code Pro", monospace;
}

.footer--credits {
  font-size: 0.7rem;
}

.footer--credits > a {
  color: whitesmoke;
  text-decoration: underline;
}

.footer--credits > a:hover {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .header--nav--list {
    display: flex;
  }

  .header--nav--mobile,
  .header--mobile--dropdown {
    display: none;
  }

  .header--name {
    font-size: 2em;
  }

  .section--container {
    padding: 10em 2em;
  }

  .hero--summary {
    max-width: 800px;
  }

  /* Hero */

  .hero--container {
    position: relative;
    padding-left: 5em;
  }

  .hero--container > .social--container {
    position: absolute;
    flex-direction: column;
    left: 0;
    border-radius: 0 5px 5px 0;
    padding: 0.75em;
    top: 50%;
    transform: translateY(-50%);
    background-color: whitesmoke;
  }

  .hero--container > .social--container > li > a {
    color: #06191d;
  }

  /* About */

  .about--details {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 400px));
    grid-template-areas:
      "first third"
      "second third";
    column-gap: 3em;
  }

  .about--details > .summary {
    text-align: unset;
    grid-area: first;
    font-size: 1rem;
  }

  .about--contact--link {
    grid-area: second;
    width: fit-content;
  }

  .about--skills {
    grid-area: third;
    align-self: start;
  }

  .about--skills--list > li {
    flex-grow: 1;
    text-align: center;
  }

  /* Projects */

  .projects--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2em;
  }

  .project--container {
    justify-content: space-between;
  }

  .project--container::after {
    display: none;
  }

  /* Footer */
  .footer--container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a d"
      "b d"
      "c d";
  }

  .footer--container > .social--container {
    grid-area: d;
    flex-direction: column;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .footer--container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
